*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

section{
	height: 100vh;
	border: 1px solid red;
}

.home {
	background-color: blue;
}

.about-us-left, .about-us-right{
	height: 80vh;
	width: 50%;
	border: 1px solid red;
}

.about-us-left{
	background-color: green;
}
.about-us-right{
	background-color: purple;
}

.about-us{
	display: flex;
	align-items: center;
}

.testi {
	height: 40vh;
	width: 25%;
	border: 1px solid red;
	background-color: salmon;
}

.testimonial{
	display: flex;
	align-items: center;
}

/*Medial-Queries*/
/*For IPAD*/
@media only screen and (min-width: 376px) and (max-width: 770px) {
	.about-us{
		flex-direction: column;
	}

	.about-us-left, .about-us-right{
		width: 75%;
	}

	.testimonial {
		flex-wrap: wrap; 
		/*justify-content: space-around;
		align-items: center;*/
	}
	.testi{
		width: 50%;
	/*	margin-left: 40px;*/
	}

} 

/* For Mobile*/
@media only screen and (max-width: 375px) {
	.about-us{
		flex-direction: column;
	}
	.about-us-left, .about-us-right{
		width: 90%;
	}
	.testimonial {
		flex-direction: column;
	}
	.testi{
		width: 100%;
	}
} 
