*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.box1{
	height: 900px;
	background-color: gray;
}

/* Medai Queries*/

/*Desktop View*/
@media only screen and (min-width:961px) and (max-width: 1000px) { 
	.box1{
	background-color: pink;
		
	}

}

/*Tablet View*/
@media only screen and (min-width:401px) and (max-width: 960px) { 
	.box1{
	background-color: yellow;
		
	}

}

/*Mobile View*/
@media only screen and (max-width: 400px) { 
	.box1{
	background-color: red;
		
	}

}




#main-title{
	font-size: 60px;
	animation-name: colorChange;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

h1{
	color: red;
}

/*@keyframes colorChange {
	from{
		color: red;
	}
	to{
		color: green;
	}
}*/

@keyframes colorChange {
	0%{
		color: red;
	}
	20%{
		color: green;
		font-size: 20px;
	}
	40%{
		color: green;
		font-size: 20px;
	}
	60%{
		color: green;
	}
	80%{
		color: green;
	}
	100%{
		color: green;
	}

}



/*End of Media Queries*/