*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

#myNavbar{
	background-color: salmon !important;	
}

.btn-info{
	background-color: black !important;
}